<h1>Bem vindo! O que deseja fazer?</h1>

  <form action=<%= list_path %> method="GET">
    <input type="submit" value="Ver projetos existentes"/>
  </form>

  <form action=<%= new_path %> method="GET">
    <input type="submit" value="Adicionar novo projeto"/>
  </form>

  <form action=<%= login_path %> method="GET">
    <input type="submit" value="Entrar"/>
  </form>

  <form action=<%= register_path %> method="GET">
    <input type="submit" value="Cadastrar"/>
  </form>
