@import "bootstrap-sprockets";
@import "bootstrap";
@import "reset";

body {
  font: 100% Avenir;
  font-weight: medium;
  background-color: #113C51;
}

h1 {
  margin: 50px 0px 0px 0px;
  text-align: center;
  font-size: 50px;
  color: white;
}

h2 {
  margin: 20px 0px 20px 0px;
  text-align: center;
  font-size: 20px;
  color: #6E91A1;
}

table, th, td {
  border: 1px solid #113C51;
  text-decoration: none;
}

td {
 text-align: center;
 text-decoration: none;
 color: #032536;
 background-color: white;
 font-size: 20px;
}

th {
  text-align: left;
  text-decoration: none;
  font-size: 24px;
  color: white;
  background-color: #032536;
}

td, th {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table {
  border-color: #e2605D;
  text-decoration: none;
}

.link {
  font-size: 18px;
  text-align: left;
  text-decoration: none;
}

.text-field {
  text-align: center;
}

.form {
  font-size: 22px;
  color: black;
}

.show {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #6E92A1;
  font-size: 20px;
}

.notice {
  padding-top: 20px;
  color: #6E92A1;
  text-align: center;
  font-size: 22px;
}

.labels {
  color: white;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
