// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'reset';

body {
  font: 100% Avenir;
  font-weight: medium;
  background-color: #6E91A1;
}

h1 {
  font: 100% Avenir;
  font-weight: bold;
  margin: 50px 0px 0px 0px;
  color: white;
  text-align: center;
  font-size: 50px;
}

h2 {
  font: 100% Avenir;
  font-weight: medium;
  margin: 50px 0px 0px 0px;
  color: white;
  text-align: center;
  font-size: 50px;
}
